@page "/register"
@layout NoLayout
@rendermode InteractiveServer
<div class="row justify-content-center">
    <div class="col-6 align-self-center">
        <HxCard CssClass="p-2">
            <BodyTemplate>
                <HxCardTitle CssClass="text-center">Enter the details below</HxCardTitle>
                <RegisterForm Submit="OnSubmit" Model="_registerModel"/>
            </BodyTemplate>
        </HxCard>
    </div>
</div>

@code
{
    [Inject]
    public NavigationManager Navigation { get; init; }
    
    private RegisterModel _registerModel = default!;
    
    protected override void OnInitialized()
    {
        _registerModel = new();
    }

    private void OnSubmit()
    {
        Navigation.NavigateTo("home");
    }
}